.box_edit {
  display: table;
  min-width: 70%;
  border: 1px solid #dbdbdb;
  margin-top: 20px;
}

.col.s3 {
  display: flex;
  flex-direction: column;
}

.nav_edit {
  margin-top: 10px;
  padding: 15px;
  color: #262626;
}

.nav_edit:hover {
  background: #dbdbdb;
  border-radius: 10px;
}
.nav_edit:visited{
  background: #dbdbdb;
}

.col.s9 {
  border-left: 1px solid #dbdbdb;
}

.head_edit {
  display: flex;
  flex-grow: 1;
}

.edit_right p {
  font-size: 1.2rem;
  margin-bottom: 0;
  margin-left: 30px;
}

.edit_right .change_edit label {
  color: #1ca1f7;
  cursor: pointer !important;
  font-size: 0.9rem;
}

.edit_right .change_edit {
  margin-bottom: 20px !important;
  margin-left: 30px;
}

.fr {
  min-width:355px;
  /* rgb(38, 38, 38) */
  max-width: 355px;
  padding: 5px;
  resize:vertical;
  height: 35px;
  border-radius: 6px ;
  border:1px solid #dbdbdb;
}

.input {
  display: flex;
  justify-content: flex-end;
  margin:10px 35px;
  
}

.input label {
  font-size: 1rem;
  color: #262626;
  font-weight: 500;
  text-align: right;
  margin-right: 40px;
}