.modal {
  width:100% !important;
  padding: 5px 30px !important;
  border-radius: 10px !important;
  
}

.modal .modal-footer {
  height: 70px;
  overflow-y: auto;

}

.mentions--multiLine .mentions__control {
    font-size: 14pt;
    border: 1px solid silver;
    
  }
.mentions--multiLine .mentions__highlighter {
    padding: 9px;
  }
.mentions--multiLine .mentions__input {
    padding: 17px;
    outline: 0;
    border: 0;
  }
  
.mentions__suggestions__list {
    background-color: white;
    border: 1px solid rgba(0, 0, 0, 0.15);
    font-size: 10pt;
    overflow-y: scroll;
    height: 65px;
  }
  
  .mentions__suggestions__item {
    padding: 5px 15px;
    border-bottom: 1px solid rgba(0, 0, 0, 0.15);
  }
  
  .mentions__suggestions__item--focused {
    background-color: #cee4e5;
  }
  
  .mentions__mention {
    background-color: #cee4e5;
  }

  