.contentImage{
    width: 100%;
    object-fit: contain;
}
.head{
    display: flex;
    align-items: center;
    padding: 20px 10px;
}

.avatar{
    margin-right:10px;
}
.col{
    border:1px solid lightgray;
    margin-top:40px !important  ;
}

