.contentImage{
    width: 100%;
    object-fit: contain;
}
.head{
    display: flex;
    align-items: center;
    padding: 20px 10px;
}
.avatar{
    margin-right:10px;
}
.box{
    border:1px solid lightgray;
    margin-top:40px !important  ;
}
.icon__box{
    display: flex;
    justify-content: space-evenly;
    padding: 20px 100px;
}
.icon{
    color: #2e81F4;
}
