.container_login {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #ffcdd2;
    height: 100%;
    background-position: center;
    background-size: cover;
    width: 100vw;
    height: 100vh;
}

.icon_box {
    display: flex;
    flex-direction: row;
}

.icon_field {
    display: flex;
    align-items: center;
    border: 1px solid gray;
    padding: 10px;
    border-radius: 50%;
    margin: 10px;
}

.icon_field:hover {
    background-color: antiquewhite;
}

.line {
    text-align: center;
}

.line span:after, .line span:before {
    content: "\00a0\00a0\00a0\00a0\00a0\00a0\00a0\00a0\00a0\00a0\00a0\00a0\00a0\00a0\00a0\00a0\00a0\00a0\00a0\00a0\00a0\00a0";
    text-decoration: line-through;
}