.container_login {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #ffffff;
    height: 100%;
    background-position: center;
    background-size: cover;
    width: 100vw;
    height: 100vh;
    overflow: hidden;
}
.box_login{
    display: flex;
    flex-direction: column;
    align-items: center ;
    justify-content: center;
    background: #F0F2F5;
    padding : 40px;
    border-radius: 5px;
}
.icon_box {
    display: flex;
    flex-direction: row;
}

.icon_field {
    display: flex;
    align-items: center;
    border: 1px solid gray;
    padding: 10px;
    border-radius: 50%;
    margin: 10px;
    cursor: pointer;
}

.icon_field:hover {
    background-color: gray;
}

.line {
    padding-top: 20px;
    text-align: center;
}

.line span:after, .line span:before {
    content: "\00a0\00a0\00a0\00a0\00a0\00a0\00a0\00a0\00a0\00a0\00a0\00a0\00a0\00a0\00a0\00a0\00a0\00a0\00a0\00a0\00a0";
    text-decoration: line-through;
}