.input-password {
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

.rf {
    min-width: 420px;
    /* rgb(38, 38, 38) */
    padding: 5px;
    height: 40px;
    border-radius: 6px;
    border: 1px solid #dbdbdb;
}

.input-password label {
    font-size: 1rem;
    color: #262626;
    font-weight: 500;
    text-align: right;
    margin-right: 40px;
}