
.Posts {
    position: relative;
    display: grid;
    grid-template-columns: auto auto auto auto;
    grid-gap: 2vmin;
    grid-auto-flow: dense;
}
.Posts .image_posts{
    position: relative;
    height: 100%;
    width: 100%;
    overflow: hidden;
}