.header {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    padding: 20px;
}

.btn_edit {
    border: 1px solid lightgray;
    margin-left: 15px;
    padding: 5px;
    font-size: 14px;
    font-weight: 500;
    cursor: pointer;
    border-radius: 5px;
}

.post_nav {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.post__nav {
    cursor: pointer;
    padding-top: 10px;
}

.post__nav:active{
    border-top: 1px solid black;
}
.posts{
    display: grid;
}